.activity-container {
  padding: 1.5rem;
}

.activity-title {
  font-size: 1.8rem;
  color: #2b512b;
  margin-bottom: 1.5rem;
}

.activity-row {
  display: flex;
  flex-wrap: wrap;
}

.activity-card-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
