.dashboardContainer {
  padding: 1.5rem;

  h3 {
    font-size: 1.8rem;
    color: #2b512b;
    margin-bottom: 1.5rem;
  }
}

.chartCard {
  border-radius: 20px;
  box-shadow: 0 6px 25px rgba(87, 174, 9, 0.15);
  padding: 1rem;
  background-color: #ffffff;
  border: none;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 8px 30px rgba(87, 174, 9, 0.2);
  }

  .chartTitle {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

.chartRow {
  margin-top: 1rem;
}

.doughnutCard {
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(87, 174, 9, 0.15);
  padding: 1rem;
  background-color: #ffffff;
  border: none;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 8px 25px rgba(87, 174, 9, 0.2);
  }

  .chartTitle {
    font-weight: 500;
    font-size: 1.1rem;
  }
}
