.container {
	padding: 1.5rem;
}

.heading {
	font-size: 1.8rem;
	color: #2b512b;
	margin-bottom: 1.5rem;
	margin-left: 0.5rem;
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-pointer:hover {
	background-color: #f8f9fa;
	padding: 2px 4px;
	border-radius: 4px;
}