.container {
  background-image: url('/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  min-height: 80vh;
  display: flex;
}

.card {
  background-color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  background-color: rgba(87, 174, 9, 0.25);
  width: 500px;
}

.passwordContainer {
  position: relative;
  width: 500px;
}

.eyeButton {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-20%);
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    transform: translateY(-20%) scale(1.2);
  }

  &:active {
    transform: translateY(-20%) scale(0.95);
  }
}

.errorMessage {
  color: red;
  margin-bottom: 15px;
}

.submitButton {
  background-color: #57AE09;
  border: none;
  width: 120px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #459306;
    transform: scale(1.05);
  }
}
